.titulote {
    display: block;
    font-size: 90px;
    text-align: center;
    background-color: rgb(78,205,196);
    color: rgb(199,244,100);
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
}

.start{
    display: block;
    background-color:rgb(255,107,107);
    color: rgb(199,244,100);
    font-size: 30px;
    text-align: center;
    width: 200px;
    border-radius: 50px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
    height: 30px;
    margin-bottom: 0px;
}

.indice {
    display:grid;
    grid-template-columns:  50% 50%;
    font-size: 45px;    
    grid-gap:9px;
    text-align: center;
    margin-top: 20px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;

}

.indicedos {
    display:grid;
    grid-template-columns:  33% 33% 33%;
    font-size: 45px;    
    grid-gap:1px;
    text-align: center;
    margin-top: 20px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;

}

.linkgdp {
    display: flex;
    background-color:rgb(255,107,107);
    border-radius: 50px;
    padding: 10px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

h1 {
    display: inline-block;
    background-color: rgb(78,205,196);
    color:rgb(199,244,100);
    font-size:45px;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 0px;
}

h1::before {
    counter-increment: parte;
    content: counter(parte) ". ";
}

h2 {    
    color: rgb(78,205,196);
    font-size:30px;
    font-style: italic;
}

body {
    background-color:  rgb(85,98,112);
    font-size: 25px;
    color: rgb(199,244,100);
    text-align:justify;
    counter-reset: parte;
}

.imagen {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;    
    border-style: solid;
    border-width: 1px;  
    border-radius: 20px;
    line-height: 50%;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

a:visited, a:link, a:active {
    color: rgb(199,244,100);
}